html {
    box-sizing: border-box !important;
    transition: box-shadow 0.5s ease;
    transition: display 1.0s ease;
    
}

#container {
    border: 1px dotted;
    margin: 0 auto;
    width: 90%;
    height: 35em;
    box-shadow: 0 8px 6px -6px grey;
     
}

/**
* Get Started Styles
*/

.greeting__message {
    margin: 0.5em 0 0 0;
}

.illustration {
    float: left;
    display: inline-block;
    height: 39em;
    width: 39em;
}

.logo {
    margin-top: 3em;
    width: 17em;
}

.greeting, .submit{
    margin: 0 auto;
    text-align: center;
}

.submit {
    padding: 2em 0 3em 0;
}

/**
* Choose Quantity styles
*/
.instructions {
    border: 1px solid;
    width: 50%;
    float: left;
    text-align: center;
    background-color: lightcyan;
    height: 100%;
}

.interaction {
    border: 1px solid;
    width: 50%;
    float: right;
    padding: 0 0 0 1em;
    background-color: bisque;
    height: 100%;
}

.small__logo {
    width: 12em;
    margin: 5em 0 0 0;
}

.instructions__message {
    margin: 1em 0 0 0; 
}

form {
    padding: 1em;
}

input {
    display: block; 
}

#action_container {
    padding-top: 1em;
}

@media screen and (max-width:400px) {
    .logo {
        margin-top: 4em;
        width: 10em;
    }

}

@media screen and (max-width:980px) {
    .illustration {
        display: none;
    }
}