html {
    box-sizing: border-box !important;
    transition: box-shadow 0.5s ease;
    transition: display 1.0s ease;
    
}

#container {
    /* border: 1px dotted; */
    margin: 0 auto;
    width: 90%;
    height: 35em;
    box-shadow: 0 8px 6px -6px grey;
     
}

/**
* Get Started Styles
*/

.greeting__message {
    margin: 0.5em 0 0 0;
}

.illustration {
    float: left;
    display: inline-block;
    height: 39em;
    width: 39em;
}

.logo {
    margin-top: 3em;
    width: 17em;
}

.greeting, .submit{
    margin: 0 auto;
    text-align: center;
}

.submit {
    padding: 2em 0 3em 0;
}

/**
* Enter Options
*/
.instructions {
    /* border: 1px solid; */
    width: 50%;
    float: left;
    text-align: center;
    background-color: lightcyan;
    height: 100%;
    position: relative;
}

.interaction {
    /* border: 1px solid; */
    width: 50%;
    float: right;
    padding: 0 0 0 1em;
    background-color: bisque;
    height: 100%;
    padding: 1em 0 0 0;
    position: relative;
}

.small__logo {
    width: 12em;
    margin: 5em 0 0 0;
}

.instructions__message {
    margin: 1em 0 0 0; 
}

.check__multiple {
    float: right;
    display: block;
}

#input__container {
    clear: right;
    width: 70%;
    margin: 0 0 0 1em;
    display: block;
}

form {
    padding: 1em;
}

input {
    display: block; 
}

#action_container {
    padding-top: 1em;
}

.link {
    position: absolute;
    bottom: 0;
    padding: 1em;
    background-color: wheat;    
    width: 100%;
}
.link > a {
    padding: 2em;
    font-size: large;
}

.link > a:hover {
    text-decoration: none;
}

.action__buttons {
    position: absolute;
    bottom: 0;
    margin: 0 0 0.8em 0.8em;
    width: 90%;
}
.input-group { 
    margin: 2em 0 0 0;
}

#add__textbox {
    float: right;
    font-size: larger;
}

#error__message, #error__message:hover {
    color: red;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@media screen and (max-width:400px) {
    .logo {
        margin-top: 4em;
        width: 10em;
    }
}

@media screen and (max-width:980px) {
    .illustration {
        display: none;
    }
}