// Variable Declaration 
@font-face{
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,400b");
}

$helper_font_size: 14px;
$container_width: 80%;
$interaction_width: 50%;
$instruction_width: 50%;
//Mixins Declaration 



*{
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    margin: 1px;
    margin: 0 auto;
}

#helper-text{
    font-size: $helper_font_size;
}

#container{
    width: $container_width;
    margin: 0 auto;
    
}

.instructions{
    width: $instruction_width;
    
}

.interaction{
    width: $interaction_width;
}




